*.o
*.py(c|o)
*.mod.c
*.o.cmd
*.o.d
modules.order
Module.symvers
*.ko
*.ko.cmd

.tmp_versions/
lib/libpsio.a
lib/libpsio.so.*

samples/echo/echo
samples/list_devices/list_devices
samples/packet_generator/packet_generator
samples/rxdump/rxdump
